<html>
<body>
    <div class="login">
       <h1>SOLAR POWER Prediction</h1>
   
        <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('predict_datapoint')}}" method="post">
         <input type="text" name="temp" placeholder="temp" required="required" /><br>
           <input type="text" name="Rh" placeholder="Rh" required="required" /><br>
           <input type="text" name="mslp" placeholder="mslp" required="required" /><br>
           <input type="text" name="tp" placeholder="tp" required="required" /><br>
           <input type="text" name="sa" placeholder="sa" required="required" /><br>
           <input type="text" name="tcc" placeholder="tcc" required="required" /><br>
           <input type="text" name="hcc" placeholder="hcc" required="required" /><br>
           <input type="text" name="mcc" placeholder="mcc" required="required" /><br>
           <input type="text" name="lc" placeholder="lc" required="required" /><br>
           <input type="text" name="srb" placeholder="srb" required="required" /><br>
           <input type="text" name="wd10" placeholder="wd10" required="required" /><br>
           <input type="text" name="ws80 " placeholder="ws80 " required="required" /><br>
           <input type="text" name=" wd80" placeholder="wd80" required="required" /><br>
           <input type="text" name="ws900 " placeholder="ws900 " required="required" /><br>
           <input type="text" name=" wd900" placeholder="wd900" required="required" /><br>
           <input type="text" name="wg" placeholder="wg" required="required" /><br>
           <input type="text" name="aoi" placeholder="aoi" required="required" /><br>
           <input type="text" name="zenith" placeholder="zenith" required="required" /><br>
           <input type="text" name="azimuth" placeholder="azimuth" required="required" /><br>
          
         
   
   
   
           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
       </form>
    <h2>
       THE SOLAR POWER Prediction is {{result}}
    </h2>
   <body>
</html>
